.navb ul{
    margin-left: 25%;
    font-size: 15px;
}
.isohead{
    margin: 3% 20%;
}
.foot{
    display: grid;
    grid-template-areas:
    'fo1 fo2'
    'fo3 fo4'
     ;
     width: 90%;
     margin: 5%;
}
.btp{
    font-size: 20px;
}
