.navb ul{
    margin-left: 30%;
}
.navb h1{
    margin-left: 3%;
    font-size: 25px;
    padding: 10px;
}
.navb ul li{
    padding: 15px;
}
.pm{
    margin-top: 7%;
}
.btp{
  margin-top: 5%;
}
.isohead{
    margin: 3% 17%;
}
.filterb{
    display: grid;
    grid-template-areas: 
    'pt1 pt2'
    'pt3 pt4'
    'pt5 pt6'
    'pt7 pt8'
    ;
    width: 100%;
}